
.DS_Store
**/.DS_Store

*.gp
*.txt
*.dat
*.gp
*.txt
*.dat
*.json
*.log
*.a
*.exe


optimization
compile_commands.json
collect_plugins
.vscode
test
app.log
test.cpp
collect_plugins.exe
# папки
compiled/
build/
CMakeFiles/
-p